---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
import ContentMedia2 from '../components/ContentMedia2.astro'
import '/src/assets/css/Skills.css';
---
<DefaultLayout title="Home">
<meta name="google-site-verification" content="WuL6y36yV0_PKG-Q_dyGO5PWHBdEU7FGxY2XpwgXOss" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2YP36JNKW1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2YP36JNKW1');
</script>
  <Hero />
    <ContentMedia imgSrc="logo-University-of-Toronto-removebg-preview.png">
    <h2>About Me</h2>
    <p class="text-2l">
    I’m Aaryaman Singh, a second year Mechanical Engineering student @ University of Toronto. 
    I am a Toronto-based tech enthusiast with a passion for engineering entrepreneurship, 
    startups, and innovation. If you’re looking for a curious, driven individual with a passion for technology and 
    innovation, and a deep interest in the startup ecosystem and AI/Machine Learning, feel free to reach out. 
    Whether you want to discuss new opportunities or just chat, I’m always open to making new connections and 
    exploring new ideas.
    </p>
  </ContentMedia>

  <section class="skills">
      <h1 class="text-center text-6xl md:text-left lg:text-8xl">
      <slot ><span class='gradient-text'> SKILLS </span></slot>
    </h1>
      <p class="skills__subtitle">Here are some <span class="highlight">programming languages </span>I use for development,<br>
       along with the <span class="highlight">technologies </span>I am skilled in utilizing across different operating systems</p>
  <div class="skills__categories">
    <div class="skills__category">
      <h3 class="skills__category-title" >PROGRAMMING LANGUAGES</h3>
      <ul class="skills__list">
        <!-- Add your skills here -->
        <li class="skills__item">Python</li>
        <li class="skills__item">C</li>
        <li class="skills__item">Java</li>
         <li class="skills__item">JavaScript</li>
        <!-- ...other skills -->
      </ul>
    </div>
    <div class="skills__category">
      <h3 class="skills__category-title">SOFTWARE & TECHNOLOGIES</h3>
      <ul class="skills__list">
        <!-- Add your technologies here -->
        <li class="skills__item">GitHub</li>
        <li class="skills__item">SolidWorks</li>
        <li class="skills__item">AutoCAD</li>
        <li class="skills__item">AnsysWorkBench</li>
        <!-- ...other technologies -->
      </ul>
    </div>
  </div>
  </section>

  <section class="my-64">
    <div class="container">
      <h2 class="mb-16 text-4xl" center >Projects</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:tailwind" title="FDM 3D Printer">
          Engineered a fully functional extruder and baseplate moving mechanism for an FDM 3D Printer using 
          solidworks. Conducted comprehensive part selection and cost analysis. Made engineering 
          drawings and specifications.
        </Feature>
        <Feature icon="mdi:wheelchair-accessibility" title="Air Compressed Piston">
          Fabricated a piston from a aluminum block by reading engineering drawings and specifications, 
          and employed precision machining tools like Lathe, Mill, and Drill Press. Executed advanced 
          design calculations for optimal center of gravity. 
        </Feature>
        <Feature icon="mdi:looks" title="Smart Alerting Bracelet">
          Developed an alerting bracelet tailored for a girl with ADHD, in collaboration with clients 
          from St. Lawrence College.
          Successfully executed the engineering design process, including Concept Design Specifications (CDS) 
          and prototyping.
        </Feature>
        <Feature icon="mdi:eslint" title="Music Genre Categorization Using Deep Learning">
        Performed data augmentation on GTZAN dataset, visualized the audio signals in the time domain, 
        analyzed the frequency components of the audio signal over 0.01-second intervals by applying FFT, 
        and generated spectrograms for the audio samples.
        Used feature extractor - AlexNet neural network and implemented a fully connected neural network as the classifier.

        </Feature>
        <Feature icon="mdi:book-open-page-variant" title="Gearbox Design">
          Designed a right-angle gearbox with a 3:1 reduction ratio using solidworks, applying GD&T to all drawings. Employed lean six sigma technique and achieved efficient rapid prototyping with an emphasis 
          on design for manufacturability, limiting print time to under 6 hours and assembly to less than 10 minutes.
        </Feature>
        <Feature icon="mdi:language-markdown" title="Laser Security System ">
         Conceptualized and developed an innovative Laser Security System for doors, leveraging Arduino UNO technology, with the aim of enhancing security and preventing theft. Skillfully designed and assembled the system utilizing breadboard circuits and integrating IR sensors, achieving a seamless and responsive security solution with a focus on reliability and effectiveness.
        </Feature>
      </div>
    </div>
  </section>
{/*
  <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>WCAG 2.1 AA Compliant</h2>
    <p class="text-2xl">
      Using semantic HTML, landmarks, skip links, screen reader friendly content, aria-labels, keyboard accessible
      navigation and components, clear outlines and tab indicators and the right color contrast, you're more certain of
      reaching WCAG AA compliance.
    </p>
  </ContentMedia>
  <section class="mb-32 mt-64">
    <div class="container">
      <h2 class="mb-16 text-6xl">Counters</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="520" title="Stars" sub="On GitHub" />
        <Counter count="17" title="Accessible" sub="Components" />
        <Counter count="500" title="Commits" sub="Merged" />
        <Counter count="18+" title="Months" sub="Since launch" />
      </div>
    </div>
  </section>
    */}
</DefaultLayout>
