---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} -  Made by <a
          href="https://www.instagram.com/aaryamanz/">Aaryaman Singh</a
        >.
      </p>
    </div>
  </section>
</footer>
