---
import { Icon } from 'astro-icon/components'

const { src = '/aaryamansinghphoto.png' } = Astro.props
---
<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-1 items-center gap-24 lg:grid-cols-2">
      <div class="flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-6xl md:text-left lg:text-8xl">
          <slot><span class="text-gradient">Aaryaman</span> Singh</slot>
        </h1>
        <!-- Adding gradient to the new line -->
        <div class="text-center text-xl md:text-left lg:text-2xl font-medium">
          <span class="text-gradient">Mechanical Engineering 2T6 + PEY | Minor in AI/ML | Engineering Business</span>
        </div>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <a class="button has-icon" href="https://www.linkedin.com/in/aaryamansingh/">
            <Icon name="ion:star-outline" />
            Linkedin
          </a>
          <a
            class="button has-icon color-secondary"
            href="https://www.instagram.com/aaryamanz/"
          >
            <Icon name="ion:star-outline" />
            Instagram
          </a>
          <a
            class="button has-icon color-primary"
            href="https://github.com/aaryamanz/Resume/blob/main/Aaryaman%20Singh%20Resume.docx.pdf/">
            <Icon name="ion:star-outline" />
            Resume
          </a>
        </div>
      </div>
      <img class="hidden lg:block" src={src} alt="" decoding="async" />
    </div>
  </div>
</section>
